<nav class="primary">
    <button mat-raised-button color="primary" routerLinkActive="active" routerLink="/">Acceuil</button>
    <button mat-raised-button color="primary" routerLinkActive="active" routerLink="/tv">Series</button>
</nav>
