<mat-card matBadge="{{tv.vote_average}}">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{tv.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://image.tmdb.org/t/p/w500/{{tv.poster_path}}" alt="Poster">
    <mat-card-content>
      <p>
        {{tv.overview | slice:0:100}}...
      </p>
    </mat-card-content>
  </mat-card>
